@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.footer {
  background-color: #000;
}

.footer__row {
  display: flex;
  width: 100%;
  height: 337px;
  justify-content: space-between;
  padding-top: 30px;
}
.footer__row li {
  margin-bottom: 4px;
}

.footer__req {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
}

.footer__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #43ffd2;
}

.footer__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

.footer__catalog {
  flex-direction: column;
  transition: 150ms all;
}
.footer__catalog :nth-child(2) {
  margin-top: 10px;
}
.footer__catalog li:hover {
  text-decoration: underline;
  transition: 150ms all;
}
.footer__catalog a {
  transition: 150ms all;
}
.footer__catalog a:hover {
  text-decoration: underline;
  transition: 150ms all;
}

.footer__buket {
  flex-direction: column;
  transition: 150ms all;
}
.footer__buket :nth-child(2) {
  margin-top: 10px;
}
.footer__buket li:hover {
  text-decoration: underline;
  transition: 150ms all;
}
.footer__buket a {
  transition: 150ms all;
}
.footer__buket a:hover {
  text-decoration: underline;
  transition: 150ms all;
}

.footer__delivery {
  flex-direction: column;
  transition: 150ms all;
}
.footer__delivery li {
  margin-bottom: 20px;
}
.footer__delivery li:hover {
  text-decoration: underline;
  transition: 150ms all;
}
.footer__delivery a {
  transition: 150ms all;
}
.footer__delivery a:hover {
  text-decoration: underline;
  transition: 150ms all;
}

.footer__info li:nth-child(3n) {
  margin-top: 20px;
}
.footer__info li :last-child {
  margin-top: 20px;
}

.footer__icons {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin-top: 20px;
}
.footer__icons i {
  margin-right: 10px;
}
.footer__icons i:last-child {
  margin-top: 0;
}

@media (max-width: 997px) {
  .footer__row {
    display: grid;
    gap: 20px;
    grid-auto-rows: auto 1fr;
    grid-auto-columns: repeat(4, 1fr);
    height: 100%;
    justify-content: center;
    padding: 0 auto;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .footer__req {
    margin: 0 auto;
    align-items: center;
    grid-column: 1/5;
    grid-row: 1;
    margin-bottom: 30px;
    width: 70%;
  }
  .footer__catalog {
    margin-top: 0;
  }
  .footer__catalog :nth-child(2) {
    margin-top: 0px;
  }
  .footer__buket {
    margin-top: 0;
  }
  .footer__buket :nth-child(2) {
    margin-top: 0px;
  }
  .footer__delivery {
    margin-top: 0;
  }
  .footer__info {
    margin-top: 0;
  }
}
@media (max-width: 667px) {
  .footer__row {
    display: flex;
    flex-direction: column;
  }
  .footer__req {
    width: 80%;
  }
  .footer__catalog {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .footer__buket {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .footer__delivery {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  background: #040a0a;
}

.content {
  display: flex;
  max-width: 1440px;
  height: auto;
  padding: 0 165px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.header__row {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.header__img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__img2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__ellipse1 {
  position: absolute;
  top: 250px;
  left: -10%;
  z-index: 0;
  width: 504.417px;
  height: 360.441px;
  transform: rotate(32.828deg);
  border-radius: 504.417px;
  background: #7d2253;
  filter: blur(125px);
}

.header__ellipse2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 392.696px;
  height: 280.609px;
  transform: rotate(32.828deg);
  border-radius: 392.696px;
  background: #7d2253;
  filter: blur(125px);
}

.header__ellipse3 {
  position: absolute;
  top: 700px;
  left: -5%;
  z-index: 0;
  width: 504.417px;
  height: 360.441px;
  transform: rotate(32.828deg);
  border-radius: 504.417px;
  background: #7d2253;
  filter: blur(125px);
}

.header__ellipse4 {
  position: absolute;
  z-index: 0;
  top: 650px;
  right: 5%;
  width: 434.992px;
  height: 256.066px;
  transform: rotate(32.828deg);
  border-radius: 434.992px;
  background: #7d2253;
  filter: blur(125px);
}

@media screen and (max-width: 997px) {
  .content {
    width: 100vw;
    padding: 0 30px;
  }
  .header__row {
    padding: 0 30px;
    background-size: cover;
    background-position: 50%;
  }
}
@media (max-width: 667px) {
  .wrapper {
    min-width: 300px;
    width: 100%;
  }
  .content {
    padding: 0 0px;
  }
}
.menu {
  max-width: 715px;
  position: relative;
  z-index: 5;
  flex: 0 1 100%;
  height: 80px;
}

.menu__list {
  display: flex;
  flex: 1 1 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: "Oswald";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.menu__list li {
  min-width: 90px;
  padding-left: 15px;
}
.menu__list span {
  margin-left: 12px;
}

.menu__btn {
  display: none;
  font-size: 40px;
  margin: 30px 20px 20px 20px;
}

#burger {
  color: #43ffd2;
}
#burger:hover {
  color: #95ffe6;
}

.menu__item {
  box-sizing: border-box;
  position: relative;
  transition: 150ms all;
}
.menu__item i {
  margin-right: 10px;
}

.menu__list li:hover,
.menu__list a:hover {
  transition: 150ms all;
  color: #43ffd2;
  text-decoration: underline;
}

.sub__menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  width: 260px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.sub__menu a {
  color: #ffffff;
}

.sub__item {
  margin-top: 5px;
}

.big__title {
  color: #fff;
  font-family: Cormorant;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 710px) {
  .big__title {
    font-size: 70px;
    margin-top: 20px;
  }
}
.site__location {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  color: #fff;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.site__location a {
  text-decoration: none;
  color: #fff;
  transition: all 150ms;
}
.site__location a:hover {
  color: #43ffd2;
  transition: all 150ms;
}

.header__board {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  margin: 155px 0 0 0;
  padding: 15px 0px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

@media (max-width: 1440px) {
  .header__board {
    width: 80%;
  }
}
@media (max-width: 1315px) {
  .header__board {
    padding-right: 50px;
  }
}
@media (max-width: 997px) {
  .header__board {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .header__board {
    /*background: none;
    backdrop-filter: none;*/
    margin-left: none;
    margin-top: 50px;
    padding: 0;
  }
}
.header__title {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
@media (max-width: 997px) {
  .header__title {
    justify-content: center;
  }
}
@media (max-width: 710px) {
  .header__title {
    padding-left: 0px;
    align-items: center;
  }
}

.header__title > span:last-child {
  width: 100%;
  margin-left: 25%;
}
@media (max-width: 1315px) {
  .header__title > span:last-child {
    margin-left: 15%;
  }
}
@media (max-width: 710px) {
  .header__title > span:last-child {
    margin-left: 0%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.header__subtitle {
  color: #fff;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

.header__category {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 710px) {
  .header__category {
    display: none;
  }
}

.board__li {
  margin: 10px 10px 0px 0px;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  border-radius: 40px;
  border: 0.5px solid #fff;
  padding: 11px 16px;
  max-height: 40px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: all 150ms;
}

.li__chosen {
  color: #43ffd2;
  border-color: #43ffd2;
  transition: all 150ms;
}

@media screen and (max-width: 997px) {
  .menu {
    max-width: 100%;
  }
  .menu__list {
    display: none;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 90vh;
    margin-top: 40px;
    padding-bottom: 20px;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  .menu__list li {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .menu__btn {
    display: block;
  }
  .sub__menu {
    top: 0;
    left: 200px;
    margin: 0;
    border: 1px solid #43ffd2;
    backdrop-filter: none;
    background-color: none;
  }
}
@media screen and (max-width: 600px) {
  .menu__list {
    height: 100vh;
    margin-top: 0px;
  }
  .menu__list li {
    font-size: 1rem;
  }
  .menu__btn {
    margin: 10px 0 0 10px;
    font-size: 30px;
  }
  .sub__menu {
    width: 200px;
    left: 150px;
  }
}
.header__address {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 165px;
  margin-left: 149px;
  margin-top: 20px;
  text-align: right;
  font-family: "Oswald";
}

.address__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
}

.address__text,
.address__text > p {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.address__b {
  margin-top: 25px;
}

.address__icons {
  position: absolute;
  top: 190px;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 60px;
  height: 154px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(40, 40, 40, 0.3);
}

.address__contacts {
  position: absolute;
  right: 0;
  top: 530px;
}

.address__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 180px;
  height: 40px;
  color: #43ffd2;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.address__call {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 180px;
  height: 40px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #43ffd2;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.cart__shopping {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #43ffd2;
  margin-top: 20px;
}

@media (max-width: 1315px) {
  .header__address {
    top: 50px;
    right: 50px;
  }
}
@media (max-width: 997px) {
  .header__address {
    display: none;
    top: 120px;
    z-index: 5;
  }
  .address__icons {
    background-color: rgba(40, 40, 40, 0);
    top: 150px;
  }
}
@media screen and (max-width: 667px) {
  .header__address {
    top: 75%;
    right: 15px;
    left: 15px;
    margin-left: 0;
    margin-top: 0;
    margin: 0 auto;
    text-align: left;
  }
  .address__b {
    display: none;
    margin-top: 10px;
  }
  .address__t {
    display: none;
  }
  .address__phone {
    display: none;
    font-size: 12px;
  }
  .address__call {
    display: none;
    font-size: 12px;
    height: auto;
    width: auto;
  }
  .address__contacts {
    display: none;
    height: 50px;
    top: 0;
    right: 0;
    font-size: 10px;
  }
  .address__icons {
    display: none;
  }
  .address__title {
    font-size: 12px;
  }
  .address__text {
    font-size: 9px;
  }
}
.sort__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.sort {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
  padding: 11px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  line-height: 24px;
}
.sort li {
  transition: 150ms all;
}
.sort li:hover {
  color: #43ffd2;
  transition: 150ms all;
}

.sort__row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 710px) {
  .sort__row {
    justify-content: flex-start;
  }
}

.main__sort {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-self: flex-end;
  width: 255px;
  height: 40px;
  padding: 11px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  transition: 150ms all;
  margin-bottom: 100px;
}
.main__sort:hover {
  color: #43ffd2;
  transition: 150ms all;
}

.filter__goods {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 255px;
  border-radius: 20px;
  padding: 0 16px 30px 16px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.filter__goods label {
  margin-top: 5px;
  color: #fff;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.filter__goods label input {
  margin-right: 6px;
}
.filter__goods label input:checked {
  background-color: #43ffd2;
}

.light__block {
  display: flex;
  flex-direction: column;
}

.filter__title {
  color: #43ffd2;
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-top: 20px;
}

.color__block {
  display: flex;
  flex-direction: column;
}

.format__block {
  display: flex;
  flex-direction: column;
}

.filter__price {
  display: flex;
  flex-direction: column;
}

.price__line {
  width: 100%;
  position: relative;
  height: auto;
  border: 0.2px solid #fff;
  margin-top: 13px;
}

#dot1 {
  position: absolute;
  left: -2.5px;
  top: -2.5px;
  z-index: 1;
  background-color: #43ffd2;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#dot2 {
  position: absolute;
  right: -2.5px;
  top: -2.5px;
  z-index: 1;
  background-color: #43ffd2;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.price__field {
  color: #fff;
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 10px;
}

.filter__flower {
  display: flex;
  flex-direction: column;
}